/**
 * @name Ashuramaru Theme
 * @description Discord Theme from Ashuramaru Collection.
 * @author Kurou#7608
 * @version 1.1.0
 * @authorId 385878744612732930
 * @website https://kinmokusei.dev/
 * @source https://github.com/Kurou-kun/ashuramaru-theme
 * @updateUrl https://kurou-kun.github.io/ashuramaru-theme/ashuramaru.theme.css
*/

/* Optional Imports */
@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');
/*@import url('https://kurou-kun.github.io/discord-addons/HiddenMembers.css');*/

/* Import Sidebar */
@import url('https://kurou-kun.github.io/ashuramaru-theme/sidebar/default.css');

/* Import Chat */
@import url('https://kurou-kun.github.io/ashuramaru-theme/chat/default.css');

/* Import Members */
@import url('https://kurou-kun.github.io/ashuramaru-theme/members/default.css');

/* Import Source */
@import url('https://kurou-kun.github.io/ashuramaru-theme/source');

/* Config */
:root {
    /* Colors */
    --color-primary: 250, 250, 250;
    --color-secondary: 200, 200, 200;
    --color-accent: 250, 0, 0;
    --color-accent-secondary: 200, 0, 0;
    --color-background: 30, 30, 30;
    --color-background-secondary: 20, 20, 20;
    --color-status-online: 250, 250, 250;
    --color-status-idle: 250, 100, 0;
    --color-status-dnd: 250, 0, 0;
    --color-status-stream: 50, 50, 250;
    --color-status-offline: 100, 100, 100;

    /* Images */
    --image-background: url("https://kurou-kun.github.io/ashuramaru-theme/background.png");
    --image-home: url("https://kurou-kun.github.io/ashuramaru-theme/icons/icon.png");
    --image-background-filter: blur(5px);

    /* Font */
    /*--font-primary: Verdana;*/

    /* Roundness */
    --roundness: 2px;

    /* Width */
    --width-sidebar: 300px;
    --width-members: 250px;
}