/**
 * @name Ashuramaru Theme
 * @description Discord Theme from Ashuramaru Collection.
 * @author Kurou#7608
 * @version 1.0.3
 * @invite QGVh7BGEya
 * @authorId 385878744612732930
 * @website https://kinmokusei.dev/
 * @source https://github.com/Kurou-kun/ashuramaru-theme
 * @updateUrl https://kurou-kun.github.io/ashuramaru-theme/ashuramaru.theme.css
 */

/* Imports */
@import url('https://kurou-kun.github.io/ashuramaru-theme/source.css');

/* Optional Imports */
/*@import url('https://kurou-kun.github.io/discord-addons/HiddenMembers.css');*/
@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');

:root {
    /* Colors */
    --color-accent: 250, 0, 0;                      /* 0, 250, 250 */
    --color-accent2: 200, 0, 0;                     /* 0, 150, 200 */
    --color-positive: 250, 250, 250;                /* 250, 250, 250 */
    --color-warning: 200, 100, 0;                   /* 200, 100, 0 */
    --color-danger: 200, 0, 0;                      /* 200, 0, 0 */
    --status-online: 250, 250, 250;                 /* 250, 250, 250 */
    --status--idle: 200, 100, 0;                    /* 200, 100, 0 */
    --status-offline: 150, 150, 150;                /* 150, 150, 150 */
    --status-dnd: 250, 0, 0;                        /* 255, 0, 0 */
    --status-stream: 100, 100, 250;                 /* 100, 100, 250 */

    /* Aspects */
    --members-width: 260px;
    
    /* Roundness */
    --roundness: 3px;                               /* 5px */

    /* Font */
    --font-display: ;                               /* empty */

    /* Images */
    --image-home: url('https://kurou-kun.github.io/ashuramaru-theme/icon.png');                 /* https://kurou-kun.github.io/ashuramaru-theme/icon.png */
    --image-background: url('https://kurou-kun.github.io/ashuramaru-theme/background.png');     /* https://kurou-kun.github.io/ashuramaru-theme/background.png */

    /* Background Proparties */
    --bg-position: center;              /* center */
    --bg-repeat: no-repeat;             /* no-repeat */
    --bg-size: cover;                   /* cover */
    --bg-clip: border-box;              /* border-box */
    --bg-filter: blur(3px);             /* blur(3px) */

    /* Radial Status */
    --rs-online-color: rgb(var(--status-online));               /* rgb(var(--status-online)) */
    --rs-idle-color: rgb(var(--status-idle));                   /* rgb(var(--status-idle)) */
    --rs-dnd-color: rgb(var(--status-dnd));                     /* rgb(var(--status-dnd)) */
    --rs-offline-color: rgb(var(--status-offline));             /* rgb(var(--status-offline)) */
    --rs-streaming-color: rgb(var(--status-stream));            /* rgb(var(--status-stream)) */
    --rs-invisible-color: rgb(var(--status-offline), 0.5);      /* rgb(var(--status-offline), 0.5) */
    --rs-phone-color: rgb(var(--color-accent));                 /* rgb(var(--color-accent)) */
}