/**
 * @name Ashuramaru Theme
 * @description Discord Theme from Ashuramaru Collection.
 * @author Kurou#7608
 * @version 1.1.0
 * @authorId 385878744612732930
 * @website https://kinmokusei.dev/
 * @source https://github.com/Kurou-kun/ashuramaru-theme
 * @updateUrl https://kurou-kun.github.io/ashuramaru-theme/ashuramaru.theme.css
*/

/* Import Sidebar */
@import url('https://kurou-kun.github.io/ashuramaru-theme\sidebar\default.css');

/* Import Chat */
@import url('https://kurou-kun.github.io/ashuramaru-theme\chat\default.css');

/* Import Members */
@import url('https://kurou-kun.github.io/ashuramaru-theme\members\default.css');

/* Config */
:root {
    --color-primary: 250, 250, 250;
    --color-secondary: 200, 200, 200;
    --color-accent: 200, 0, 0;
    --color-accent-secondary: 200, 0, 0;
    --color-background: 30, 30, 30;
    --color-background-secondary: 20, 20, 20;
    --color-status-online: 250, 250, 250;
    --color-status-idle: 250, 100, 0;
    --color-status-dnd: 250, 0, 0;
    --color-status-stream: 50, 50, 250;
    --color-status-offline: 100, 100, 100;

    --image-background: url("https://kurou-kun.github.io/ashuramaru-theme/background.png");
    --image-home: url("https://kurou-kun.github.io/ashuramaru-theme/icon.png");
    --image-background-filter: blur(5px);

    --roundness: 2px;
    --roundness-avatars: 5px;

    --width-sidebar: 300px;
    --width-chat: 100%;
    --width-members: 250px;
}