/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@500&display=swap'); /* font-family: 'Pathway Extreme', sans-serif; */

/* Imports */
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/SoftX/VerticalUserArea.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://kurou-kun.github.io/discord-addons/BetterProfiles.css');
@import url('https://kurou-kun.github.io/discord-addons/BetterChat.css');

:root {
    --color-primary: 250, 250, 250;
    --color-secondary: 200, 200, 200;
    --color-accent: 200, 0, 0;
    --color-accent-secondary: 200, 0, 0;
    --color-background: 30, 30, 30;
    --color-background-secondary: 20, 20, 20;
    --color-status-online: 250, 250, 250;
    --color-status-idle: 250, 100, 0;
    --color-status-dnd: 250, 0, 0;
    --color-status-stream: 50, 50, 250;
    --color-status-offline: 100, 100, 100;

    --image-background: url("https://kurou-kun.github.io/ashuramaru-theme/background.png");
    --image-home: url("https://kurou-kun.github.io/ashuramaru-theme/icons/icon.png");
    --image-background-filter: blur(5px);

    --font-primary: Verdana;

    --roundness: 2px;
    --roundness-avatars: 5px;

    --width-sidebar: 300px;
    --width-members: 250px;

    --color-positive: 250, 250, 250;
	--color-warning: 250, 200, 0;
	--color-danger: 250, 0, 0;

    /* Radial Status */
    --rs-small-spacing: 0px;
    --rs-medium-spacing: 0px;
    --rs-large-spacing: 0px;
    --rs-small-width: 2px;
    --rs-medium-width: 3px;
    --rs-large-width: 4px;
    --rs-avatar-shape: var(--roundness);
    --rs-online-color: rgb(var(--color-status-online));
    --rs-idle-color: rgb(var(--color-status-idle));
    --rs-dnd-color: rgb(var(--color-status-dnd));
    --rs-offline-color: rgb(var(--color-status-offline));
    --rs-streaming-color: rgb(var(--color-status-stream));
    --rs-invisible-color: rgb(var(--color-status-offline), 0.5);
    --rs-phone-color: rgb(var(--color-accent));
    --rs-phone-visible: block;
}

/* App */
.bg-1QIAus {
    background: rgb(var(--color-background));
    background-image: var(--image-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-origin: content-box;
    filter: var(--image-background-filter);
}

.app-2CXKsg,
.applicationStore-2nk7Lo,
.chat-2ZfjoI,
.container-2cd8Mz,
.container-ZMc96U.themed-Hp1KC_,
.container-1NXEtd,
.container-PNkimc,
.contentRegion-3HkfJJ,
.contentRegionScroller-2_GT_N,
.header-2EadGG,
.inviteToolbar-2k2nqz,
.layer-86YKbF,
.members-3WRCEx,
.members-3WRCEx>div,
.messages-3amgkR,
.notice-12Koq-,
.nowPlayingColumn-1eCBCN,
.pageWrapper-2PwDoS,
.panels-3wFtMD,
.privateChannels-oVe7HL,
.scroller-2XLwLg,
.wrapper-3HVHpV,
.wrapper-15CKyy,
.scroller-WSmht3,
.scroller-2TZvBN,
.scroller-1TOeMq,
.scroller-3_YDR2,
.scroller-29cQFV,
.sidebar-1tnWFu,
.sidebarRegionScroller-FXiQOh,
.standardSidebarView-E9Pc3j,
.wrapper-1Rf91z,
.container-1oAagU,
.wrapper-1gVUIN,
.wrapper-1gVUIN.minimum-fXpVNc,
.wrapper-KXM2i0,
.chatContent-3KubbW,
.container-2o3qEW,
.container-3wLKDe,
.container-3XgAHv,
.callContainer-HtHELf,
#app-mount {
    background: 0 0 !important;
	padding-top: -20px;
}

.theme-dark {
	--text-positive: rgb(var(--color-positive));
	--text-warning: rgb(var(--color-warning));
	--text-danger: rgb(var(--color-danger));
	--info-positive-background: rgba(var(--color-positive),.1);
	--info-positive-foreground: rgb(var(--color-positive));
	--info-positive-text: rgb(255, 255, 255);
	--info-warning-background: rgba(var(--color-warning),.1);
	--info-warning-foreground: rgb(var(--color-warning));
	--info-warning-text: rgb(255, 255, 255);
	--info-danger-background: rgba(var(--color-danger),.1);
	--info-danger-foreground: rgb(var(--color-danger));
	--info-danger-text: rgb(255, 255, 255);
	--status-positive: rgb(var(--color-positive));
	--status-positive-background: rgb(var(--color-positive));
	--status-positive-text: rgb(255, 255, 255);
	--status-warning: rgb(var(--color-warning));
	--status-warning-background: rgb(var(--color-warning));
	--status-warning-text: rgb(255, 255, 255);
	--status-danger: rgb(var(--color-danger));
	--status-danger-background: rgb(var(--color-danger));
	--status-danger-text: rgb(255, 255, 255);
	--header-primary: rgb(var(--color-primary));
	--header-secondary: rgb(var(--color-primary), 0.8);
	--text-normal: rgb(var(--color-primary));
	--text-muted: rgb(var(--color-secondary));
	--channels-default: rgb(var(--color-secondary));
	--interactive-normal: rgb(var(--color-primary));
	--interactive-hover: rgb(255, 255, 255);
	--interactive-active: rgb(255, 255, 255);
	--interactive-muted: rgb(var(--color-secondary));
	--logo-primary: rgb(255, 255, 255);
	--background-modifier-accent: rgba(255, 255, 255,.1);
	--background-message-automod: rgba(var(--color-danger),.05);
	--background-message-automod-hover: rgba(var(--color-danger),.1);
	--channeltextarea-background: rgba(20, 20, 20, .3);
	--input-background: rgb(var(--color-background));
	--elevation-low: 0 1px 5px 0 rgba(20, 20, 20, .3);
	--elevation-high: 0 2px 10px 0 rgba(20, 20, 20, .3);
    --brand-experiment-360: rgb(var(--color-accent));
    --green-360: rgb(var(--color-status-online), 0.5);
    --text-link: rgb(var(--color-accent));
}

.children-3xh0VB:after,
.content-1jQy2l:before,
.form-3gdLxP:before {
	display: none !important
}

.header-2o-2hj,
.searchBar-3TnChZ {
	box-shadow: none !important
}

.container-2o3qEW {
	background-color: transparent !important;
}

*::selection {
    background-color: rgb(var(--color-accent));
    color: rgb(var(--color-background-secondary));
}

/* Scrollbars */
.members-3WRCEx::-webkit-scrollbar,
.popout-1KHNAq::-webkit-scrollbar,
.scroller-1ox3I2::-webkit-scrollbar,
.layerContainer-2lfOPe .layer-2BGhQ8 .scroller-145h9c::-webkit-scrollbar,
.layerContainer-2lfOPe .layer-2BGhQ8 .scroller-MIi2ab::-webkit-scrollbar,
.callContainer-BGIngG .scroller-35tvpe::-webkit-scrollbar {
	width: 6px;
}

.scroller-kQBbkU::-webkit-scrollbar,
.scroller-3j5xK2::-webkit-scrollbar,
.scroller-RfJjkV::-webkit-scrollbar,
.peopleList-2VBrVI::-webkit-scrollbar,
.perksModal-CLcR1c::-webkit-scrollbar {
    width: 13px;
}

.scroller-3j5xK2::-webkit-scrollbar-track,
.scroller-RfJjkV::-webkit-scrollbar-track,
.peopleList-2VBrVI::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroller-kQBbkU::-webkit-scrollbar-thumb,
.scroller-3j5xK2::-webkit-scrollbar-thumb,
.scroller-RfJjkV::-webkit-scrollbar-thumb,
.peopleList-2VBrVI::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-accent));
    border-radius: 0px;
}

.members-3WRCEx::-webkit-scrollbar-thumb,
.popout-1KHNAq::-webkit-scrollbar-thumb,
.scroller-1ox3I2::-webkit-scrollbar-thumb,
.layerContainer-2lfOPe .layer-2BGhQ8 .scroller-145h9c::-webkit-scrollbar-thumb,
.layerContainer-2lfOPe .layer-2BGhQ8 .scroller-MIi2ab::-webkit-scrollbar-thumb,
.perksModal-CLcR1c::-webkit-scrollbar-thumb,
.callContainer-BGIngG .scroller-35tvpe::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-accent), 0.5);
    border-radius: 0px;
}

.scroller-kQBbkU::-webkit-scrollbar-track,
.members-3WRCEx::-webkit-scrollbar-track,
.popout-1KHNAq::-webkit-scrollbar-track,
.scroller-1ox3I2::-webkit-scrollbar-track,
.layerContainer-2lfOPe .layer-2BGhQ8 .scroller-145h9c::-webkit-scrollbar-track,
.layerContainer-2lfOPe .layer-2BGhQ8 .scroller-MIi2ab::-webkit-scrollbar-track,
.perksModal-CLcR1c::-webkit-scrollbar-track,
.callContainer-BGIngG .scroller-35tvpe::-webkit-scrollbar-track {
    background-color: rgb(var(--color-background));
}

/* Updates */
#bd-notices {
    position: absolute;
    width: 100%;
    margin-top: 45px;
}

#bd-notices .bd-notice {
    border-radius: 0;
    height: 40px;
    text-align: left;
    background-color: rgb(var(--color-background-secondary));
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

#bd-notices .bd-notice .bd-notice-close {
    margin-right: 10px;
    width: 20px;
    background: none;
    opacity: 1;
}

#bd-notices .bd-notice .bd-notice-close::before {
    content: "x";
    font-size: 30px;
    margin-left: 1px;
    bottom: 1px;
    font-family: 'Pathway Extreme', sans-serif;;
    position: absolute;
    color: rgb(var(--color-secondary));
    transition: color .2s ease-in-out;
}

#bd-notices .bd-notice .bd-notice-close:hover::before {
    color: rgb(var(--color-primary));
}

#bd-notices .bd-notice .bd-notice-content {
    font-size: 20px;
    margin-left: 10px;
    text-transform: uppercase;
}

#bd-notices .bd-notice .bd-notice-button {
    border-radius: var(--roundess);
    border: none;
    background-color: rgb(70, 70, 70);
    color: rgb(var(--color-primary));
    padding: 1px 10px 5px 10px;
}

#bd-notices .bd-notice .bd-notice-button:hover {
    color: rgb(var(--color-secondary));
}

.noticeWrapper-8z511t {
    position: absolute;
    width: calc(100% - 100px);
    margin-top: 45px;
    left: 72px;
    border-radius: 0;
    height: 40px !important;
    justify-content: left;
    background-color: rgb(var(--color-background-secondary));
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.noticeWrapper-8z511t .closeButton-30b1gR {
    height: 100%;
    width: 30px;
    left: unset;
    right: 10px;
    justify-content: center;
}

.noticeWrapper-8z511t .closeButton-30b1gR .closeIcon-3eoP1e {
    display: none;
}

.noticeWrapper-8z511t .closeButton-30b1gR::before {
    content: "x";
    font-size: 30px;
    padding-bottom: 6px;
    font-family: 'Pathway Extreme', sans-serif;;
    position: absolute;
    color: rgb(var(--color-secondary));
    transition: color .2s ease-in-out;
}

.noticeWrapper-8z511t .closeButton-30b1gR:hover::before {
    color: rgb(var(--color-primary));
}

.noticeWrapper-8z511t .platformIcon-OrI7z3 {
    padding-left: 10px;
    padding-right: 10px;
}

.noticeWrapper-8z511t .text-kRs522 {
    font-size: 20px;
    text-transform: uppercase;
}

.noticeWrapper-8z511t .button-1iHNQ2 {
    border-radius: var(--roundess);
    border: none;
    background-color: rgb(70, 70, 70);
    color: rgb(var(--color-primary));
    padding: 1px 10px 5px 10px;
}

.noticeWrapper-8z511t .button-1iHNQ2:hover {
    color: rgb(var(--color-secondary));
    background-color: rgb(70, 70, 70);
}

/* Error Screen */
.errorPage-2pZ2Kq {
    background-color: rgb(var(--color-background-secondary)) !important;
    background-image: none !important;
}

.errorPage-2pZ2Kq .image-35kDIs {
    width: 350px !important;
    height: 250px !important;
}

.errorPage-2pZ2Kq .text-3IbNaT .title-NjUt5y {
    font-size: 30px !important;
}

.errorPage-2pZ2Kq .button-ejjZWC {
    width: 500px;
    height: 50px;
}

.errorPage-2pZ2Kq .button-ejjZWC {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-primary));
    border-radius: 2px;
    transition: transform .2s ease-in-out;
}

.errorPage-2pZ2Kq .button-ejjZWC:hover {
    background-color: rgb(var(--color-background));
    transform: scale(1.05);
}

/* No Connection Screen */
.container-2RRFHK {
    background-color: rgb(var(--color-background-secondary));
}

/* Custome CSS */
#floating-editor-window {
    background-color: rgb(var(--color-background));
}

#floating-editor-window .floating-window-titlebar {
    background: rgb(var(--color-background-secondary));
    height: 30px;
}

#floating-editor-window .floating-window-content {
    background: rgb(var(--color-background));
}

#floating-editor-window .floating-window-content #bd-editor-panel #bd-editor-controls {
    background: rgb(var(--color-background-secondary));
}

#floating-editor-window .floating-window-content #bd-editor-panel #bd-editor-controls .controls-left .btn {
    background: rgb(var(--color-background));
    border-radius: var(--roundness-buttons);
    color: rgb(var(--color-secondary));
    transition: color, transform .2s ease-in-out;
}

#floating-editor-window .floating-window-content #bd-editor-panel #bd-editor-controls .controls-left .btn:hover {
    transform: scale(1.05);
    color: rgb(var(--color-primary));
}

/* Left Column (Servers) */
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN {
    background-color: rgb(var(--color-background-secondary));
    padding-top: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0, 0.2);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .homeIcon-r0w4ny {
    display: none;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .childWrapper-1j_1ub,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .wrapper-28eC3z {
    --background-primary: transparent;
    transition: transform .2s ease-in-out;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .childWrapper-1j_1ub:hover {
    background-color: transparent !important;
    transform: scale(1.1);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .listItemWrapper-3d87LP.selected-3a1QGn .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub:hover {
    transform: scale(1);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .childWrapper-1j_1ub::after {
    content: '';
    position: relative;
    height: 48px;
    width: 48px;
    background-image: var(--image-home);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
    background-color: transparent;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-1pL9QS .listItemWrapper-3d87LP .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub::after {
    transform: scale(1.1);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .unreadMentionsIndicatorTop-2bTgUU .bar-2eAyLE,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .unreadMentionsIndicatorBottom-3RJMnQ .bar-2eAyLE {
    background-color: rgb(var(--color-background-secondary));
    border: 2px solid rgb(var(--color-accent), 0.5);
    box-shadow: 0px 0px 5px rgb(var(--color-accent), 0.5);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .guildSeparator-a4uisj {
    background-color: rgb(var(--color-accent), 0.5);
    box-shadow: 0px 0px 5px rgb(var(--color-accent), 0.3);
    width: 50px;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN foreignObject {
    mask: none;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN * {
    border-radius: var(--roundness) !important;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .pill-2RsI5Q .item-2LIpTv,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .pill-L_aLMQ .item-2LIpTv,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .pill-22lZHo .item-2LIpTv,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .pill-1NRFie .item-2LIpTv {
    background-color: rgb(var(--color-accent), 0.3);
    width: 8px; 
    box-shadow: -15px 0 10px 10px rgb(var(--color-accent));
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .blobContainer-ikKyFs {
    transition: transform .2s ease-in-out;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .blobContainer-ikKyFs .childWrapper-1j_1ub {
    background-color: rgb(var(--color-background));
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .blobContainer-ikKyFs:hover {
    transform: scale(1.05);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .blobContainer-ikKyFs.selected-3c78Ai {
    box-shadow: 0px 0px 5px rgb(var(--color-accent), 0.5);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .blobContainer-ikKyFs .lowerBadge-3WTshO,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .wrapper-28eC3z .lowerBadge-3WTshO,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .blobContainer-ikKyFs .upperBadge-1V6Iyi,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .blobContainer-ikKyFs .upperBadge-1d6YsW {
    background-color: rgb(0, 0, 0);
    border-radius: 2px !important;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .blobContainer-ikKyFs .lowerBadge-3WTshO .base-3IDx3L,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .wrapper-28eC3z .lowerBadge-3WTshO .base-3IDx3L,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .upperBadge-1V6Iyi .base-3IDx3L,
.iconBadge-32fMme.participating-2Z81oO {
    background-color: rgb(var(--color-accent), 0.8) !important;
    border-radius: 2px !important;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .wrapper-38slSD .expandedFolderBackground-1kSAf6 {
    background-color: rgb(var(--color-background));
    border: 1px solid rgb(var(--color-accent), 0.5);
    width: 55px;
    left: 7px;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .wrapper-38slSD .expandedFolderBackground-1kSAf6.collapsed-uGXEbi {
    display: none;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .wrapper-38slSD .expandedFolderIconWrapper-3RwQpD {
    background-color: rgb(var(--color-background));
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .wrapper-38slSD .wrapper-28eC3z .svg-2zuE5p {
    margin-top: 1px;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .wrapper-38slSD ul .listItem-3SmSlK {
    margin-top: -1px;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .wrapper-38slSD .expandedFolderIconWrapper-3RwQpD svg path {
    fill: rgb(var(--color-accent), 0.5);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .wrapper-38slSD .folderIconWrapper-1oRIZr[style] {
    transition: transform .2s ease-in-out;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .wrapper-38slSD .folderIconWrapper-1oRIZr:hover {
    transform: scale(1.05);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-2jwoiB .listItemWrapper-3d87LP .wrapper-28eC3z .circleIconButton-1VxDrg,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .circleIconButton-1VxDrg {
    background-color: rgb(var(--color-background)) !important;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-2jwoiB .listItemWrapper-3d87LP .wrapper-28eC3z,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .wrapper-28eC3z {
    transition:  transform .2s ease-in-out;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-2jwoiB .listItemWrapper-3d87LP .wrapper-28eC3z:hover,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .wrapper-28eC3z:hover {
    transform: scale(1.05);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .tutorialContainer-2jwoiB .listItemWrapper-3d87LP .wrapper-28eC3z .circleIconButton-1VxDrg path,
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .listItem-3SmSlK .wrapper-28eC3z .circleIconButton-1VxDrg path {
    fill: rgb(var(--color-primary));
}

/* Vertical User Area */
.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .container-YkUktl {
    background-color: rgb(var(--color-background-secondary)) !important;
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .container-YkUktl .flex-2S1XBF {
    width: var(--guilds-width, 50px) !important;
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .container-YkUktl .flex-2S1XBF .button-12Fmur {
    background-color: rgb(var(--color-background)) !important;
    color: rgb(var(--color-secondary));
    margin-top: 5px !important;
    border-radius: var(--roundness) !important;
    transition: transform .2s ease-in-out;
} 

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .container-YkUktl .flex-2S1XBF .button-12Fmur:hover {
    transform: scale(1.05);
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .container-YkUktl .flex-2S1XBF .button-12Fmur .strikethrough-2Kl6HF {
    fill: rgb(255, 0, 0);
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .container-YkUktl .wrapper-1VLyxH {
    border-radius: var(--roundness);
    background-color: rgb(var(--color-background));
    padding: 4px;
    margin-left: -2px;
    margin-top: -7px;
    transition: transform .2s ease-in-out;
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .container-YkUktl .wrapper-1VLyxH:hover {
    transform: scale(1.05);
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .container-YkUktl .wrapper-1VLyxH * {
    border-radius:  0 !important;
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .avatarSpeaking-36V2PN,
#app-mount .avatarSpeaking-33RRJU {
    box-shadow: none;
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .avatarSpeaking-36V2PN::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    border-radius: 3px;
	opacity: .6;
    background-color: rgb(var(--color-status-online), 0.3);
}

.base-2jDfDU .content-1SgpWY .sidebar-1tnWFu .avatar-31d8He {
    z-index: -1;
}

/* Radial Status */
#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile]:after {
    background: var(--rs-phone-color, var(--rs-online-color));
}

#app-mount .wrapper-1VLyxH foreignObject[mask*=mobile] + rect {
    stroke: var(--rs-online-color);
}

/* ReadAllNotyficationsButton */
.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .frame-oXWS21 {
    height: 48px;
    width: 48px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: var(--roundness);
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .frame-oXWS21 .innerFrame-8Hg64E {
    height: 48px;
    width: 48px;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .frame-oXWS21 .innerFrame-8Hg64E .childWrapper-1j_1ub {
    height: 48px;
    width: 48px;
    border-radius: var(--roundness);
    background-color: rgb(var(--color-background));
    color: transparent;
    transition: transform .2s ease-in-out;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .frame-oXWS21 .innerFrame-8Hg64E .childWrapper-1j_1ub::after {
    content: '';
    background-image: url('https://kurou-kun.github.io/ashuramaru-theme/icons/readallnotyfications.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

.container-1eFtFS .wrapper-1_HaEi.guilds-2JjMmN .frame-oXWS21 .innerFrame-8Hg64E .childWrapper-1j_1ub:hover {
    transform: scale(1.05);
}

/* BetterNsfwTag */
.base-2jDfDU .sidebar-1tnWFu .containerDefault-YUSmu3 .children-1MGS9G .nsfwTag-666omg .base-3IDx3L {
    background-color: rgb(var(--color-accent), 0.5) !important;
    border-radius: 2px !important;
    opacity: 0.7;
}

/* BetterFormattingRedux */
.base-2jDfDU .content-1SgpWY .chat-2ZfjoI .form-3gdLxP #bfredux .bf-arrow {
    background-color: rgb(var(--color-background));
    opacity: 0.5;
    border-radius: var(--roundness);
}

.base-2jDfDU .content-1SgpWY .chat-2ZfjoI .form-3gdLxP #bfredux .bf-arrow:hover {
    opacity: 1;
}

.base-2jDfDU .content-1SgpWY .chat-2ZfjoI .form-3gdLxP #bfredux::before {
    background-color: rgb(var(--color-background)) !important;
}

/* Popups */
.layerContainer-2lfOPe .layer-fP3xEz .root-1CAIjD,
.layerContainer-2lfOPe .layer-fP3xEz .root-1CAIjD .scroller-3oxliS,
.layerContainer-2lfOPe .layer-fP3xEz .header-1zd7se {
    background-color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-fP3xEz .root-g14mjS {
    border-radius: 5px;
}

.layerContainer-2lfOPe .layer-fP3xEz .footer-IubaaS {
    background-color: rgb(var(--color-background2));
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.layerContainer-2lfOPe .layer-fP3xEz .footer-IubaaS .button-ejjZWC {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-hidden));
    border-radius: var(--roundness);
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-fP3xEz .footer-IubaaS .button-ejjZWC:nth-child(2) {
    margin-right: 10px;
}

.layerContainer-2lfOPe .layer-fP3xEz .footer-IubaaS .button-ejjZWC:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-fP3xEz .footer-IubaaS .button-ejjZWC[disabled]:hover {
    transform: scale(1);
}

.layerContainer-2lfOPe .layer-fP3xEz .root-1CAIjD .scroller-3oxliS .activityItem-1Z9CTr {
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-fP3xEz .root-1CAIjD .scroller-3oxliS .tierCtaContainer-f-B1mz .upsellIcon-C8QUV0 {
    --guild-boosting-pink: rgb(var(--color-accent)) !important;
}

.layerContainer-2lfOPe .layer-fP3xEz .root-1CAIjD .scroller-3oxliS .tierCtaContainer-f-B1mz .shinyButton-2Q9MDB {
    background-color: rgb(var(--color-background2));
    border-radius: var(--roundness);
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-fP3xEz .root-1CAIjD .scroller-3oxliS .tierCtaContainer-f-B1mz .shinyButton-2Q9MDB .premiumIcon-G_KEYC {
    color: rgb(var(--color-accent), 0.5);
}

.layerContainer-2lfOPe .layer-fP3xEz .root-1CAIjD .scroller-3oxliS .tierCtaContainer-f-B1mz .shinyButton-2Q9MDB .buttonText-1c-l_x {
    color: rgb(var(--color-hidden));
}

.layerContainer-2lfOPe .layer-fP3xEz .root-1CAIjD .scroller-3oxliS .tierCtaContainer-f-B1mz .shinyButton-2Q9MDB:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-18GwIk {
    background-color: rgb(var(--color-background));
    border-radius: 5px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-18GwIk .header-3_zmOb {
    background-color: rgb(var(--color-background2));
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-18GwIk .header-3_zmOb .inner-2pOSmK {
    background-color: rgb(var(--color-background));
    border-radius: var(--roundness);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-18GwIk .createButton-oruGBs {
    background-color: rgb(var(--color-background));
    border-radius: var(--roundness);
    color: rgb(var(--color-hidden));
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .modalHeader-3X0A4K {
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-18GwIk .createButton-oruGBs:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-18GwIk .list-3YHPPb .button-ejjZWC {
    background-color: rgb(var(--color-background2));
    border-radius: var(--roundness);
    color: rgb(var(--color-hidden));
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-18GwIk .button-ejjZWC:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .messagesPopoutWrap-3zryHW {
    background-color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .messagesPopoutWrap-3zryHW .header-1w9Q93 {
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .header-1w9Q93 .tab-TRrPC8.selected-g-kMVV {
    border-radius: 3px;
    background-color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .header-1w9Q93 .friendRequestsButton-77veU7,
.layerContainer-2lfOPe .layer-2BGhQ8 .header-1w9Q93 .button-1_oXub,
.layerContainer-2lfOPe .layer-2BGhQ8 .container-2ebMPP .channel-3NJZ1V .channelHeader-DFRX8q .button-1_oXub,
.layerContainer-2lfOPe .layer-2BGhQ8 .channelHeader-DFRX8q .button-1_oXub {
    border-radius: 5px !important;
    background-color: rgb(var(--color-background)) !important;
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-_dQaft .container-1A0qQO .button-1_oXub {
    border-radius: 5px !important;
    background-color: rgb(var(--color-background2)) !important;
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .header-1w9Q93 .friendRequestsButton-77veU7:hover,
.layerContainer-2lfOPe .layer-2BGhQ8 .header-1w9Q93 .button-1_oXub:hover,
.layerContainer-2lfOPe .layer-2BGhQ8 .container-2ebMPP .channel-3NJZ1V .channelHeader-DFRX8q .button-1_oXub:hover,
.layerContainer-2lfOPe .layer-2BGhQ8 .channelHeader-DFRX8q .button-1_oXub:hover,
.layerContainer-2lfOPe .layer-2BGhQ8 .container-_dQaft .container-1A0qQO .button-1_oXub:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .messagesPopoutWrap-3zryHW .messageGroupWrapper-1jf_7C {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-2ebMPP {
    background-color: rgb(var(--color-background));
    border-radius: 5px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-2ebMPP .header-145e10 {
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-2ebMPP .channel-3NJZ1V .channelHeader-DFRX8q {
    background-color: rgb(var(--color-background2));
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-2ebMPP .channel-3NJZ1V {
    margin-top: 10px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-2ebMPP .channel-3NJZ1V .messages-23can0 {
    background-color: rgb(var(--color-background2), 0.6);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .channelHeader-DFRX8q {
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .messageContainer-3VTXBC {
    background-color: rgb(var(--color-background2));
    border-radius: 0;
    margin-left: 0;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-_dQaft .header-145e10 {
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-_dQaft .container-1A0qQO {
    background-color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .card-m7VgZ8 {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .card-m7VgZ8 .button-ejjZWC {
    background-color: rgb(var(--color-background));
    border-radius: var(--roundness);
    color: rgb(var(--color-hidden));
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .card-m7VgZ8 .button-ejjZWC:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .qualitySettingsContainer-2LjkfM {
    background-color: rgb(var(--color-background2));
    border-color: rgb(var(--color-background2));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .qualitySettingsContainer-2LjkfM .select-Zz0IcO {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .qualitySettingsContainer-2LjkfM .group-1_ptLP .item-2OyinQ {
    background-color: rgb(var(--color-background));
    border-radius: 5px;
    margin-left: 3px;
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .qualitySettingsContainer-2LjkfM .group-1_ptLP .item-2OyinQ.selectorButtonSelected-3cQUnj {
    background-color: rgb(var(--color-accent), 0.5);
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .qualitySettingsContainer-2LjkfM .group-1_ptLP .item-2OyinQ:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-fP3xEz .modalContent-2y3sGW .upsellBanner-1tVKtW {
    background: linear-gradient(90deg, rgb(var(--color-accent)), rgb(var(--color-accent2), 0.5));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .recentMentionsPopout-2bI1ZN .row-7jGzPR .rowContent-nXy-Hx svg,
.layerContainer-2lfOPe .layer-2BGhQ8 .recentMentionsPopout-2bI1ZN .row-7jGzPR .rowContent-nXy-Hx .maskBackground-3UP7z9,
.layerContainer-2lfOPe .layer-2BGhQ8 .recentMentionsPopout-2bI1ZN .row-7jGzPR .rowContent-nXy-Hx .unread-O4ZgUu {
    display: none;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .menu-2TXYjN {
    background-color: rgb(var(--color-background2));
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .menu-2TXYjN .item-5ApiZt.focused-3LIdPu {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS {
    background-color: rgb(var(--color-background2));
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .searchBarComponent-18D6hD {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .searchBarComponent-18D6hD .tag-15zcD_ {
    background-color: rgb(var(--color-background2));
    border-radius: var(--roundness);
    color: rgb(var(--color-hidden));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .scroller-1Kbkqa .friendSelected-3cwmD7 {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .scroller-1Kbkqa .friendWrapper-2x5j0A .checkbox-1pxf69 .checkbox-1LuCGM {
    border-radius: var(--roundness);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .scroller-1Kbkqa .friendWrapper-2x5j0A .checkbox-1pxf69 .checkbox-1LuCGM {
    border-color: rgb(var(--color-hidden));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .scroller-1Kbkqa .friendWrapper-2x5j0A .checkbox-1pxf69 .checkbox-1LuCGM.checked-22NTbO {
    border-color: rgb(var(--color-accent)) !important;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .scroller-1Kbkqa .friendWrapper-2x5j0A .checkbox-1pxf69 .checkbox-1LuCGM.checked-22NTbO svg path {
    fill: rgb(var(--color-accent));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .button-ejjZWC {
    background-color: rgb(var(--color-background));
    border-radius: var(--roundness);
    color: rgb(var(--color-hidden));
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .root-g14mjS .button-ejjZWC:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-1ILvLB {
    background-color: rgb(var(--color-background2));
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-1ILvLB div .popoutText-3NRmTw,
.layerContainer-2lfOPe .layer-2BGhQ8 .container-1ILvLB .popoutText-3NRmTw strong {
    color: rgb(var(--color-accent)) !important;
    text-transform: uppercase !important;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-1ILvLB .popoutBottom-15-vLu .debugButton-OTfjlB,
.layerContainer-2lfOPe .layer-2BGhQ8 .container-1ILvLB .popoutBottom-15-vLu .copyStatsButton-3YHmr5 {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-hidden));
    border-radius: var(--roundness);
    padding: 5px;
    height: 12px;
    text-decoration: none;
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-1ILvLB .popoutBottom-15-vLu .debugButton-OTfjlB:hover,
.layerContainer-2lfOPe .layer-2BGhQ8 .container-1ILvLB .popoutBottom-15-vLu .copyStatsButton-3YHmr5:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-fP3xEz .shaker-bevRrZ .headerBackground-131uxy {
    background: linear-gradient(41.27deg, rgb(var(--color-accent), 0.5) 20.01%, rgb(var(--color-accent2), 0.5) 56.27%, rgb(var(--color-accent), 0.5) 92.19%);
}

.layerContainer-2lfOPe .layer-fP3xEz .shaker-bevRrZ .headerAnimation-3DVb6i,
.layerContainer-2lfOPe .layer-fP3xEz .shaker-bevRrZ .flex-2S1XBF:nth-child(3),
.layerContainer-2lfOPe .layer-fP3xEz .shaker-bevRrZ .flex-2S1XBF:nth-child(2),
.layerContainer-2lfOPe .layer-fP3xEz .shaker-bevRrZ .wrapper-wOVKdL,
.layerContainer-2lfOPe .layer-fP3xEz .shaker-bevRrZ .content-2hZxGK {
    background-color: transparent;
    background-image: none;
}

.layerContainer-2lfOPe .layer-fP3xEz .shaker-bevRrZ .sliderBody-1SR1Ot .planOption-187LtR .checkbox-1LuCGM {
    border-radius: var(--roundness);
    border-color: rgb(var(--color-hidden));
}

.layerContainer-2lfOPe .layer-fP3xEz .shaker-bevRrZ .sliderBody-1SR1Ot .planOption-187LtR .checkbox-1LuCGM.checked-22NTbO {
    --brand-experiment-400: rgb(var(--color-accent));
    --brand-experiment-500: rgb(var(--color-accent));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .nav-1zWVQw .navButton-1XuvI- {
    background-color: rgb(var(--color-background));
    border-radius: var(--roundness);
    color: rgb(var(--color-hidden));
    transition:  transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .nav-1zWVQw .navButton-1XuvI-.navButtonActive-1EqC5l,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .nav-1zWVQw .navButton-1XuvI-.navButtonActive-1EqC5l:hover {
    transform: scale(1.1);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .nav-1zWVQw .navButton-1XuvI-:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .header-2TLOnc .flex-2S1XBF .searchBar-3aIzc-,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .header-uVCAlo .container-1SX9VC,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .header-11eigE .searchBar-2M9mRP {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .content-A8TzKf .result-pzZrwj,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .content-A8TzKf .result-pzZrwj * {
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .categoryList-2GgCrD,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .categoryList-2qRrlj {
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .categoryList-2GgCrD .stickerCategory-2f6iSo .guildIcon-2SUGiq,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .categoryList-2qRrlj .categoryItem-1sHzUv {
    border-radius: 3px !important;
    background-color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .categoryList-2qRrlj .categoryItem-1sHzUv .guildIcon-2SUGiq {
    background-color: transparent;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2nHLP8 {
    background-color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .listItems-6eZzQ1,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2nHLP8 .listItems-6eZzQ1 {
    margin-left: -9px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .packHeader-w9jpYl,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2nHLP8 .header-1ULbqO {
    background-color: rgb(var(--color-background2));
    padding-left: 10px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .row-2mBMW2 .sticker-2Yb_-L,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2nHLP8 .emojiListRow-3hshyU .emojiItem-277VFM {
    margin-left: 2px;
    margin-top: 2px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .row-2mBMW2 .createSticker-y-_Ug2,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .row-2mBMW2 .sticker-2Yb_-L,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .row-2mBMW2 .sticker-2Yb_-L.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2nHLP8 .emojiListRow-3hshyU .emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .row-2mBMW2 .sticker-2Yb_-L:hover {
    border-radius: 3px;
    transform: scale(1.05);
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .row-2mBMW2 .createSticker-y-_Ug2 .iconWrapper-Tkg0P1 {
    background-image: linear-gradient(90deg, rgb(var(--color-accent)), rgb(var(--color-accent2), 0.5));
    border-radius: var(--roundness);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .inspector-DFKXwB,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .inspector-2A2Chb {
    background-color: rgb(var(--color-background2)) !important;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .listWrapper-2DwCYS .inspector-DFKXwB .graphicSecondary-37AA_Y .guildIcon-2SUGiq,
.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .inspector-2A2Chb .graphicSecondary-37AA_Y .guildIcon-2SUGiq {
    background-color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .inspector-2A2Chb .badgeLabel-2Eo2Mq  {
    background: linear-gradient(268.26deg, rgb(var(--color-accent2), 0.5), rgb(var(--color-accent)) 102.45%);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .contentWrapper-3vHNP2 .scroller-2MALzE::-webkit-scrollbar {
    display: none;
}

.layerContainer-2lfOPe .layer-fP3xEz .imagePickerContainer-1VjOgi .optionBox-1UOevl {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-fP3xEz .imagePickerContainer-1VjOgi .optionBox-1UOevl .contentCircle-15IFyT {
    border-radius: var(--roundness);
    background-color: rgb(var(--color-accent), 0.5);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .noiseCancellationPopout-2-e5Xz {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .noiseCancellationPopout-2-e5Xz .container-1QtPKm[style]  {
    background-color: rgb(var(--color-background)) !important;
    border-radius: var(--roundness);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .noiseCancellationPopout-2-e5Xz .container-1QtPKm .slider-HJFN2i rect,
.layerContainer-2lfOPe .layer-2BGhQ8 .noiseCancellationPopout-2-e5Xz .container-1QtPKm.checked-16gMAN .slider-HJFN2i rect {
    fill: transparent;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .noiseCancellationPopout-2-e5Xz .container-1QtPKm .slider-HJFN2i svg path {
    fill: rgb(200, 0, 0);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .noiseCancellationPopout-2-e5Xz .container-1QtPKm.checked-16gMAN svg path {
    fill: rgb(200, 200, 200);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .noiseCancellationPopout-2-e5Xz .micTest-19EtdQ .button-ejjZWC {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-hidden));
    border-radius: var(--roundness);
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .noiseCancellationPopout-2-e5Xz .micTest-19EtdQ .button-ejjZWC:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-15UxD6 {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-15UxD6::-webkit-scrollbar {
    width: 6px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-15UxD6::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-accent), 0.5);
    border-radius: 0;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-15UxD6::-webkit-scrollbar-track {
    background-color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-15UxD6 .option-Uc12mm:hover {
    background-color: rgb(var(--color-background), 0.5);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-15UxD6 .option-Uc12mm[aria-selected="true"] {
    background-color: rgb(var(--color-accent), 0.5);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-15UxD6 .option-Uc12mm[aria-selected="true"] .selectedIcon-122rMx {
    background-color: rgb(var(--color-background));
    border-radius: var(--roundness);
    color: rgb(var(--color-background));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-15UxD6 .option-Uc12mm[aria-selected="true"] .selectedIcon-122rMx circle {
    fill: rgb(var(--color-accent2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .wrapper--nA0oy .customItem-1KYL7t .button-1zW0-r {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .wrapper--nA0oy .customItem-1KYL7t .button-1zW0-r:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .item-5ApiZt[role="menuitemcheckbox"] .iconContainer-Ksy8Oj .icon-3XHs8t path:nth-child(1),
.layerContainer-2lfOPe .layer-2BGhQ8 .item-5ApiZt[role="menuitemradio"] .iconContainer-Ksy8Oj .icon-3XHs8t path,
.layerContainer-2lfOPe .layer-2BGhQ8 .item-5ApiZt[role="menuitemradio"] .iconContainer-Ksy8Oj .icon-3XHs8t circle {
    fill: rgb(var(--color-accent));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .item-5ApiZt[role="menuitemcheckbox"] .iconContainer-Ksy8Oj .icon-3XHs8t path:nth-child(2) {
    fill: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
    padding: 10px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .popoutHeaderContainer-26vKmr {
    background-color: rgb(var(--color-background));
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .popoutHeaderContainer-26vKmr .channelNameContainer-3LKMrc {
    color: rgb(var(--color-normal));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .popoutHeaderContainer-26vKmr .channelNameContainer-3LKMrc .channelIcon-3Oew8h {
    color: rgb(var(--color-normal));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .popoutHeaderContainer-26vKmr .container-3MQTjc {
    border-radius: 3px;
    background-color: rgb(var(--color-background2));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .popoutHeaderContainer-26vKmr .container-3MQTjc .peopleIcon-1zv5D6 {
    color: rgb(var(--color-normal));
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .headerDivider-N-jIGV {
    opacity: 0;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa .channelActivityContainer-1_5CRq .activityVoiceChannel-2vojOH {
    background-color: rgb(var(--color-background));
    padding: 5px;
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa .channelActivityContainer-1_5CRq .flexColumn-26qukB {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
    padding: 5px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa .channelActivityContainer-1_5CRq .flexColumn-26qukB .flexRow-y9esFp .spotifyLargeImage-6jtIXF {
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa .channelActivityContainer-1_5CRq .flexColumn-26qukB .flexRow-y9esFp .avatar-3jcVeZ {
    border-radius: var(--roundness);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa .channelActivityContainer-1_5CRq .flexColumn-26qukB .timeBar-3vgQdw .barInSingleLine-2HWcqa .bar-1GpknY {
    background-color: rgb(var(--color-background2));
    border-radius: 2px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa .channelActivityContainer-1_5CRq .flexColumn-26qukB .timeBar-3vgQdw .barInSingleLine-2HWcqa .bar-1GpknY .barInner-3dHef4 {
    background-color: rgb(var(--color-accent));
    border-radius: 2px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa .activityActionsContainer-A31ie3 .button-ejjZWC {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-hidden));
    border: none;
    border-radius: var(--roundness);
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa .activityActionsContainer-A31ie3 .button-ejjZWC:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .container-8Futzw .activity-1DK9Xa {
    border: none;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .streamPreview-I7itZ6 {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .streamPreview-I7itZ6 .previewImage-2bOVD- img {
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .streamPreview-I7itZ6 .body-2WIpo7 .activityStreamPreview-uBr6hk .body-u1Y8uL {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
    padding: 5px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .streamPreview-I7itZ6 .body-2WIpo7 .activityStreamPreview-uBr6hk .gameIcon-1mDo1J {
    border-radius: 3px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .streamPreview-I7itZ6 .body-2WIpo7 .activityStreamPreview-uBr6hk .button-ejjZWC {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-hidden));
    border-radius: var(--roundness);
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .streamPreview-I7itZ6 .body-2WIpo7 .activityStreamPreview-uBr6hk .button-ejjZWC:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-TdhJ6Z {
    background-color: rgb(var(--color-background2));
    border-radius: 3px;
    padding: 0;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-TdhJ6Z .title-1yq5kT {
    background-color: rgb(var(--color-background));
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-left: 10px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-TdhJ6Z .row-1qtctT {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-TdhJ6Z .more-2c3Z-T {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-TdhJ6Z .more-2c3Z-T .text-sm-normal-AEQz4v {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-hidden));
    border-radius: var(--roundness);
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 5px;
    margin: auto;
    transition: transform .2s ease-in-out;
}

.layerContainer-2lfOPe .layer-2BGhQ8 .popout-TdhJ6Z .more-2c3Z-T .text-sm-normal-AEQz4v:hover {
    transform: scale(1.05);
}

.wrapper-Hd8H2G .container-JMJRDf {
    background-color: rgb(var(--color-background));
    border-radius: 3px;
}

.wrapper-Hd8H2G .container-JMJRDf .video-31SuuY {
    border-radius: 3px;
}

.wrapper-Hd8H2G .container-JMJRDf .header-3WhTwB .text-sm-bold-2BCfqW[style] {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(var(--color-accent2)) !important;
}

.wrapper-Hd8H2G .container-JMJRDf .subheaderText-Jg7wmo[style] {
    color: rgb(var(--color-hidden)) !important;
}

.wrapper-Hd8H2G .container-JMJRDf .ctaActionWrapper-Bip--3 .button-ejjZWC {
    background-color: rgb(var(--color-background2));
    color: rgb(var(--color-hidden));
    border-radius: var(--roundness);
    transition: transform .2s ease-in-out;
}

.wrapper-Hd8H2G .container-JMJRDf .ctaActionWrapper-Bip--3 .button-ejjZWC:hover {
    transform: scale(1.05);
}

.layerContainer-2lfOPe .layer-fP3xEz::after {
    content: '';
    position: absolute;
    background-color: rgb(var(--color-background2));
    opacity: 1 !important;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
}